body {
    background-image: url(/public/background.jpg);
    text-align: center;
    color: white;
    font-size: 35px;
    caret-color: transparent;
    overflow: hidden;
}

.hero-pick-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: calc(100vh - 460px);
    border: black 5px solid;
    overflow-x: hidden;
    overflow-y: auto;
}

.hero-pick {
    position: relative;
    cursor: pointer;
    width: 200px;
    margin: 50px;
}

.hero-pick-picture {
    width: 200px;
    height: 279px;
}

.selection-indicator {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    background-color: green;
}

.selection-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 398px;
}

.selected-heroes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: black 5px solid;
    width: 85%;
}

.selection-control-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 15%;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: black 5px solid;
}